Repository finitum/aurum: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-test, webclient-check, webclient-test

.gitlab-ci.yml:

stages:
  - test
  - deploy

.docker: &docker
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

.webclient: &webclient
  image: node
  only:
    changes:
      - .gitlab-ci.yml
      - webclient/**/*
  before_script:
    - cd webclient
    - yarn install

variables:
  CORE_IMG: "$CI_REGISTRY_IMAGE/core"

core-test:
  stage: test
  image: golang
  only:
    changes:
      - .gitlab-ci.yml
      - core/**/*
  cache:
    paths:
      - /go/pkg/mod
  coverage: /^total:.+\)\s+(\d+.?\d*)%$/
  before_script:
    - cd core
    - go mod download
  script:
    - go test -covermode=count -coverprofile cover.cov ./...
    - go tool cover -func=cover.cov

webclient-check:
  <<: *webclient
  stage: test
  script:
    - yarn check

webclient-test:
  stage: test
  <<: *webclient
  script:
    - yarn test

build-master:
  stage: deploy
  <<: *docker
  script:
    - cd core
    - docker build --pull -t "$CORE_IMG" .
    - docker push "$CORE_IMG"
    - cd ..
  only:
    - master

build:
  stage: deploy
  <<: *docker
  script:
    - cd core
    - docker build --pull -t "$CORE_IMG:$CI_COMMIT_REF_SLUG" .
    - docker push "$CORE_IMG:$CI_COMMIT_REF_SLUG"
    - cd ..
  except:
    - master

Added more tests to the client
  .gitlab-ci.yml
  core/web/web.go
  webclient/jest.config.js
  webclient/package.json
  webclient/ts/classes/State.test.ts
  webclient/ts/classes/State.ts
  webclient/yarn.lock
Due: core-test, webclient-check, webclient-test

Added docker for webclient
  .gitlab-ci.yml
  webclient/Dockerfile
  webclient/jest.config.js
  webclient/yarn.lock
Due: core-test, webclient-check, webclient-test

Doc comments + more tests
  webclient/index.html
  webclient/package.json
  webclient/ts/classes/Client.ts
  webclient/ts/classes/DOMStateManager.test.ts
  webclient/yarn.lock
Due: webclient-check, webclient-test

fixed client test error
  webclient/ts/classes/Client.test.ts
Due: webclient-check, webclient-test

Cleaned up a bunch of stuff
  README.md
  core/README.md
  core/config/config.go
  core/config/config_test.go
  core/jwt/jwt.go
  core/jwt/jwt_test.go
  core/main.go
  core/passwords/passwords.go
  core/passwords/passwords_test.go
  core/web/AuthEndpoints.go
  core/web/AuthEndpoints_test.go
  core/web/error/Error.go
  webclient/.gitignore
  webclient/README.md
  webclient/config.sh
  webclient/css/messages.scss
  webclient/css/panel.scss
  webclient/css/style.scss
  webclient/css/vars.scss
  webclient/index.html
  webclient/ts/Config.ts
  webclient/ts/classes/AdminTableManager.ts
  webclient/ts/classes/Client.test.ts
  webclient/ts/classes/Client.ts
  webclient/ts/classes/DOMStateManager.test.ts
  webclient/ts/classes/DOMStateManager.ts
  webclient/ts/classes/jwt.ts
  webclient/ts/config.ts
  webclient/ts/globals.ts
  webclient/ts/handlers.ts
  webclient/ts/passwords.ts
  webclient/ts/worker/worker.ts
Due: core-test, webclient-check, webclient-test

fixed client.ts logout function to check for webworker being null
  webclient/ts/classes/Client.ts
Due: webclient-check, webclient-test

Resolved some comments and fixed the env handler
  core/config/config.go
  core/config/config_test.go
  core/db/db.go
  core/web/web.go
  webclient/css/messages.scss
  webclient/css/style.scss
  webclient/ts/Config.ts
  webclient/ts/DOM.ts
  webclient/ts/classes/Client.ts
  webclient/ts/index.ts
Due: core-test, webclient-check, webclient-test

Refactor
  core/README.md
  core/config/config.go
  core/db/SQLConnection.go
  core/db/db.go
  core/db/models.go
  core/go.mod
  core/jwt/jwt_test.go
  core/web/AuthEndpoints.go
  core/web/AuthEndpoints_test.go
  core/web/UserEndpoints.go
  core/web/UserEndpoints_test.go
  core/web/error/Error.go
  core/web/web.go
  core/web/web_test.go
  webclient/README.md
  webclient/jest.setup.js
  webclient/package.json
  webclient/ts/API/Client.test.ts
  webclient/ts/API/Client.ts
  webclient/ts/API/User.test.ts
  webclient/ts/API/User.ts
  webclient/ts/API/__TEST__/helpers.ts
  webclient/ts/API/jwt.test.ts
  webclient/ts/API/jwt.ts
  webclient/ts/API/passwords.ts
  webclient/ts/DOM/AdminTableManager.ts
  webclient/ts/DOM/DOMFunctions.ts
  webclient/ts/DOM/DOMStateManager.test.ts
  webclient/ts/DOM/DOMStateManager.ts
  webclient/ts/DOM/handlers.ts
  webclient/ts/State/State.test.ts
  webclient/ts/State/State.ts
  webclient/ts/Worker/worker.ts
  webclient/ts/globals.ts
  webclient/ts/index.ts
Due: core-test, webclient-check, webclient-test

go fmt
  core/jwt/jwt.go
  core/main.go
  core/passwords/passwords.go
  core/passwords/passwords_test.go
Due: core-test

added put me
  .gitlab-ci.yml
  core/Dockerfile
  core/web/AuthEndpoints.go
  core/web/AuthEndpoints_test.go
  core/web/UserEndpoints.go
  core/web/UserEndpoints_test.go
  core/web/web.go
  docs/apidoc/api_data.js
  docs/apidoc/api_data.json
  docs/apidoc/api_project.js
  docs/apidoc/api_project.json
  docs/apidoc/utils/handlebars_helper.js
  webclient/ts/API/Client.ts
Due: core-test, webclient-check, webclient-test

More tests
  core/.gitignore
  core/db/SQLConnection.go
  core/db/db.go
  core/go.sum
  core/jwt/jwt.go
  core/main_test.go
  core/web/AuthEndpoints.go
  core/web/AuthEndpoints_test.go
  core/web/UserEndpoints.go
  core/web/UserEndpoints_test.go
  core/web/web.go
  core/web/web_integration_test.go
  webclient/ts/API/Client.test.ts
  webclient/ts/API/Client.ts
  webclient/ts/DOM/AdminTableManager.ts
Due: core-test, webclient-check, webclient-test

added key signing for jwt tokens (jwk) and docs
  .gitlab-ci.yml
  core/config/config.go
  core/config/config_test.go
  core/go.mod
  core/go.sum
  core/jwt/algorithms/EdDSA.go
  core/jwt/jwt.go
  core/jwt/jwt_test.go
  core/main.go
  core/web/web.go
  core/web/web_integration_test.go
  docs/.dockerignore
  docs/Dockerfile
  docs/core/Endpoints.md
  docs/core/Flows.md
  docs/core/Roles.md
  docs/core/diagrams/tda.svg
  docs/generate_godocs.sh
  docs/index.html
Due: core-test, webclient-check, webclient-test

Changed signing mechanism to ed25519, refactoring and more tests
  core/config/config.go
  core/config/config_test.go
  core/config/keys.go
  core/config/keys_test.go
  core/go.mod
  core/go.sum
  core/jwt/algorithms/EdDSA.go
  core/jwt/ecc/encoding.go
  core/jwt/ecc/keygenutil.go
  core/jwt/ecc/keygenutil_test.go
  core/jwt/ecc/pem.go
  core/jwt/ecc/pem_test.go
  core/jwt/ecc/signing.go
  core/jwt/jwt.go
  core/jwt/jwt_test.go
  core/main.go
  core/web/AuthEndpoints.go
  core/web/AuthEndpoints_test.go
  core/web/web.go
  docs/core/bindings.md
  rustclient/Cargo.toml
  rustclient/src/lib.rs
  webclient/jest.config.js
  webclient/ts/API/Client.test.ts
  webclient/ts/API/Client.ts
Due: core-test, webclient-check, webclient-test

Resolved pull request issues
  .idea/.gitignore
  .idea/codeStyles/codeStyleConfig.xml
  .idea/compiler.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  README.md
  core/config/config.go
  core/config/config_test.go
  core/jwt/ecc/keygenutil.go
  core/jwt/ecc/pem.go
  core/jwt/ecc/signing.go
  core/main.go
  core/web/AuthEndpoints.go
  core/web/AuthEndpoints_test.go
  core/web/UserEndpoints_test.go
  core/web/web_integration_test.go
Due: core-test

Upgraded webclient deps
  webclient/yarn.lock
Due: webclient-check, webclient-test

Create go.yml
  .github/workflows/go.yml
Due: none

Fixed gh actions go test stage
  .github/workflows/go.yml
Due: none

Create js.yml
  .github/workflows/js.yml
Due: none

Add docker
  .github/workflows/docker.yml
  .github/workflows/js.yml
Due: none

docker ci push: true
  .github/workflows/docker.yml
Due: none

change username to actor
  .github/workflows/docker.yml
Due: none

add reg to tag
  .github/workflows/docker.yml
Due: none

remove qemu
  .github/workflows/docker.yml
Due: none

remove platform specifications
  .github/workflows/docker.yml
Due: none

Change to ghcr
  .github/workflows/docker.yml
Due: none

set image source differently
  .github/workflows/docker.yml
Due: none

add https
  .github/workflows/docker.yml
Due: none

add webclient docker image to ci
  .github/workflows/docker.yml
Due: none

GH Actions (#7)
  .github/workflows/docker.yml
  .github/workflows/go.yml
  .github/workflows/js.yml
Due: none

Added initial things for the wasm client
  rustclient/Cargo.toml
  rustclient/src/error.rs
  rustclient/src/lib.rs
  rustclient/src/token.rs
  rustclient/src/user.rs
Due: none

Cleaned up core config and keygen
  core/config/config.go
  core/config/config_test.go
  core/config/keys.go
  core/config/keys_test.go
  core/go.mod
  core/go.sum
  core/jwt/ecc/pem.go
  core/main.go
Due: core-test

Refactor rust code with new jwt lib
  .idea/runConfigurations/Clippy.xml
  .idea/runConfigurations/Test.xml
  rustclient/Cargo.toml
  rustclient/src/error.rs
  rustclient/src/lib.rs
  rustclient/src/requests.rs
  rustclient/src/token.rs
  rustclient/src/user.rs
Due: none

Added cli and created initial rust aurum api
  core/config/keys.go
  core/jwt/ecc/pem_test.go
  core/web/AuthEndpoints.go
  core/web/UserEndpoints.go
  rustclient/Cargo.toml
  rustclient/cli/Cargo.toml
  rustclient/cli/src/error.rs
  rustclient/cli/src/language.pest
  rustclient/cli/src/main.rs
  rustclient/cli/src/parser.rs
  rustclient/src/lib.rs
  rustclient/src/requests.rs
  rustclient/src/token.rs
  rustclient/src/user.rs
Due: core-test

Refactor and finish up all requests
  core/web/UserEndpoints.go
  rustclient/Cargo.toml
  rustclient/cli/src/language.pest
  rustclient/cli/src/main.rs
  rustclient/cli/src/parser.rs
  rustclient/src/error.rs
  rustclient/src/lib.rs
  rustclient/src/requests.rs
  rustclient/src/token.rs
Due: core-test

fmt + rust ci
  .github/workflows/rust.yml
  rustclient/cli/src/error.rs
  rustclient/cli/src/main.rs
  rustclient/cli/src/parser.rs
  rustclient/src/error.rs
  rustclient/src/lib.rs
  rustclient/src/requests.rs
  rustclient/src/token.rs
  rustclient/src/user.rs
Due: none

refactor+tests
  rustclient/src/error.rs
  rustclient/src/lib.rs
  rustclient/src/requests.rs
  rustclient/src/token.rs
  rustclient/src/user.rs
Due: none

fixed tests
  rustclient/mv/Cargo.toml
  rustclient/mv/src/main.rs
  rustclient/src/token.rs
Due: none

get_user and more tests
  rustclient/src/error.rs
  rustclient/src/lib.rs
  rustclient/src/requests.rs
  rustclient/src/token.rs
  rustclient/src/user.rs
Due: none

Partial merge from wasm
  core/config/config.go
  core/config/config_test.go
  core/config/keys.go
  core/config/keys_test.go
  core/go.mod
  core/go.sum
  core/jwt/ecc/pem.go
  core/jwt/ecc/pem_test.go
  core/main.go
  core/web/AuthEndpoints.go
  core/web/UserEndpoints.go
Due: core-test
